body {
    font-family: 'Titillium Web', sans-serif;
}

.navbar {
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .05);
    min-height: 100px;
}

.nav-link {
    color: black;
}

.nav-link:hover {
    color: black;
}

.navbar-brand {
    color: black;
    font-family: 'Playball', cursive;
    font-size: 35px;
    font-weight: 600;
}

.navbar-toggler {
    font-size: 40px;
}

.navbar-toggler:focus {
    outline: none;
}

.hero {
    background-image: url("img/Img1.jpg");
    background-size: cover;
    padding-top: 90px;
    min-height: 700px;
    color: #ffffff;
}

.content-center {
    max-width: 800px;
    margin: 0 auto 60px auto;
    text-align: center;
}